# See GOVERNANCE.md for more about this repository's owners and this project's
# governance.

# Schema, linter and infrastructure changes must be reviewed by an owner:
# ======================================================================
/test/    @ddbeck
/schemas/ @ddbeck
/.github/ @ddbeck

## This pattern will only match files in the root directory:
/*        @ddbeck
