# See GOVERNANCE.md for more about this repository's owners 
# and this project's governance.

# Order is important: The last matching pattern takes precedence.
# For more detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/schemas/ @mdn/bcd-owners

/.github/ @mdn/engineering
/.vscode/ @mdn/engineering
/lint/    @mdn/engineering
/scripts/ @mdn/engineering
/types/   @mdn/engineering
/utils/   @mdn/engineering
/*        @mdn/engineering
/package.json      @mdn/engineering @mdn-bot @mdn/bcd-releasers
/package-lock.json @mdn/engineering @mdn-bot @mdn/bcd-releasers
/SECURITY.md @mdn/engineering

# Exclude some paths
/.github/ISSUE_TEMPLATE/
/.github/PULL_REQUESET_TEMPLATE.md
/*.md
