# See GOVERNANCE.md for more about this repository's owners and this project's
# governance.

# Schema, linter and infrastructure changes must be reviewed by an owner:
# ======================================================================
# /test/    TODO: insert @ handles for owners
# /schemas/ TODO: insert @ handles for owners
# /.github/ TODO: insert @ handles for owners

## This pattern will only match files in the root directory:
# /*        TODO: insert @ handles for owners
