.gitattributes
.github
.prettierignore
.prettierrc
.vscode
build
!/build/data.json
!/build/import.d.mts
!/build/legacynode.mjs
!/build/require.d.ts
!/build/types.d.ts
docs
test
schemas
.editorconfig
CODE_OF_CONDUCT.md
CONTRIBUTING.md
GOVERNANCE.md
utils
scripts
