name: PR Needs Rebase
on:
  push:
  pull_request_target:
    types: [synchronize]

permissions:
  contents: read
  pull-requests: write # To add labels and comment on PRs

concurrency:
  group: pr-rebase-needed-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  label-rebase-needed:
    uses: mdn/workflows/.github/workflows/pr-rebase-needed.yml@main
    with:
      target-repo: "mdn/browser-compat-data"
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
